@tailwind base;
@tailwind components;
@tailwind utilities;

.fp-watermark {
  display: none !important;
}

.fp-watermark>a {
  display: none !important;
}

/* vertical nav dots */
#fp-nav ul li a span {
  background-color: #fff;
}

/* horizontal nav arrows */
.fp-prev {
  margin-left: 45px;
}
.fp-next {
  margin-right: 45px;
}