@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* used to prevent Chrome autofill background-color override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    transition: all 0s 5000s;
  }

img {
  display: block;
  max-width: 100%;
}

.fp-watermark {
  display: none !important;
}

.fp-watermark>a {
  display: none !important;
}

/* vertical nav dots, currently disabled via fullpage option */
/* #fp-nav ul li a span {
  background-color: #fff;
} */

/* horizontal nav arrows */
.fp-prev {
  margin-left: 5px;
}
.fp-next {
  margin-right: 5px;
}
@media (min-width: 640px) {
  /* Screen size is sm or larger */
  .fp-prev {
    margin-left: 20px;
  }

  .fp-next {
    margin-right: 20px;
  }
}

.trapezoid {
  --p: 50px;
  /* control the shape (can be percentage) */
  height: 180px;
  aspect-ratio: 3/2;
  clip-path: polygon(var(--p) 0, calc(100% - var(--p)) 0, 100% 100%, 0 100%);
  background: #542437;
}
