@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.fp-watermark {
  display: none !important;
}

.fp-watermark>a {
  display: none !important;
}

/* vertical nav dots, currently disabled via fullpage option */
/* #fp-nav ul li a span {
  background-color: #fff;
} */

/* horizontal nav arrows */
.fp-prev {
  margin-left: 20px;
}
.fp-next {
  margin-right: 20px;
}

/* .parallelogram {
  --p: 160px;
  clip-path: polygon(0 calc(100% - var(--p)), 0 0, 100% var(--p), 100% 100%);
}

.triangle {
  aspect-ratio: cos(33deg);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
} */
